{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Learn More</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}"/>

</head>

<body>
<div class= "header">
<img id = "about" src="{% static 'frontend/img/learn.png' %}">
<img id = "logo" src="{% static 'frontend/img/logo.png' %}">
</div>
<div>
    <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem aspernatur culpa, exercitationem voluptatem perspiciatis possimus, omnis suscipit reiciendis corrupti quo eligendi numquam, deleniti dolorem iusto aut? Fugiat, repudiandae tempora.<br>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis dicta dolorem impedit, beatae officia perspiciatis, accusantium assumenda necessitatibus sint porro reprehenderit expedita doloremque, tenetur minima fugiat explicabo quidem molestiae voluptate!</h2>
</div>
</body>

</html>