{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Password Recovery</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<style>
    li{
        list-style: none;
    }
</style>
<body>
<div class="RecoverFullbody">

    <div class="RecoverBox">
        <a href="#"> <i class="far fa-times-circle"></i> </a>
        <h3>Find your account</h3>


        <p>Enter your new password:</p>
        <div class="RecoverHeadless">
            <form method="post">{% csrf_token %}
                <div>
                <label for="Password">{{ change_password_form.password.label }}</label>
            </div>
            <div>
                {{ change_password_form.password }}
                <div id="message2"></div>
            </div>
            {% if change_password_form.password.errors %}
                    <div style="color: red">
                        {{ change_password_form.password.errors }}
                    </div>
                {% endif %}
            <div>
                <div>
                    <label for="Password">{{ change_password_form.confirm_password.label }}</label>
                </div>
                <div>
                    {{ change_password_form.confirm_password }}
                    <div id="message"></div>
                </div>
                {% if change_password_form.confirm_password.errors %}
                    <div style="color: red">
                        {{ change_password_form.confirm_password.errors }}
                    </div>
                {% endif %}
                <div>
                    <button type="submit">Change Password</button>
                </div>
            {% if change_password_form.non_field_errors %}
                  <div style="color: red">
                    {% for err in change_password_form.non_field_errors %}
                        {{ err }}
                    {% endfor %}
                  </div>
                {% endif %}
                </div>
            </form>
        </div>
    </div>
    {% for message in messages %}
        {% if "password_change_error" in message.tags %}
            <script>
                swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: "{{ message }}",
                })
            </script>
        {% endif %}
        {% if "url_validation_error" in message.tags %}
            <script>
                swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: "{{ message }}",
                })
            </script>
        {% endif %}
    {% endfor %}

    <script>
        var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = '**Passwords Match**';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = '**Password and Confirm Password doesnt match**';
            }

        }

        var check2 = function () {
            if (document.getElementById('password').value.length <= 7) {

                document.getElementById('message2').style.color = 'red';
                document.getElementById('message2').innerHTML = '**Password must be minimum of 8 characters**';
            } else {

                document.getElementById('message2').style.color = 'green';
                document.getElementById('message2').innerHTML = ' ';
            }
        }
    </script>
</body>
</html>