<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <div class="sidebar-brand-text mx-3">Admin</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_index' %}">
        <span>Home</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_users' %}">
        <span>Users</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'payment_details' %}">
        <span>Payments</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'all_payment_details' %}">
        <span>Approved Payments</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'cash_out_request' %}">
        <span>Cash Out Request</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'buy_cash_applies' %}">
        <span>Buy Cash Applies</span></a>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item active">
        <a class="nav-link" href="{% url 'reports' %}">
        <span>Reports</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


</ul>